
1.\ Linear_regression/Linear_regression_solution.ipynb
2.\ Logistic_Regression/LogisticRegression_solution.ipynb
3.\ CNNs/CNNs_solution.ipynb
4.\ Clustering_Dim_Reduction/4_clustering_and_dim_reduction_solution.ipynb
5.\ Affordable_AI/



*.DS_Store
*._DS_Store

